.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 70px;

}



.login-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem;
  box-sizing: border-box;
}

.form-group input:focus {
  outline: none;
  border-color: #66afe9; /* Light blue border on focus */
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 1rem;
}

.login-container button {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #0eaa80;
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.login-container button:hover {
  background-color: #45a049 /* Darker shade on hover */
}

.login-container button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
