/* Title Styling */
h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 32px; /* Increased font size */
    margin-bottom: 30px;
  }
  
  /* Form Styling */
  form {
    display: flex;
    flex-direction: column;
    width: 50%;  /* Maintains original width */
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Label Styling */
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px; /* Increased font size */
  }
  
  /* Input & Textarea Styling */
  input,
  textarea {
    width: 100%;
    padding: 12px; /* Increased padding */
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px; /* Increased font size */
  }
  
  /* Select Styling */
  select {
    width: 100%;
    padding: 12px; /* Increased padding */
    border: 1px solid #ccc;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: right 10px;
    background-size: 16px 16px;
    padding-right: 30px; /* Increased padding for select */
  }
  
  /* Form Row Styling */
  .form-row {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to multiple rows if needed */
    justify-content: space-between; /* Distribute space evenly between columns */
    margin-bottom: 15px; /* Add some margin for spacing */
  }
  
  /* Form Group Styling */
  .form-group {
    flex-basis: 48%; /* Set the width of each column to 48% */
    margin-bottom: 1rem; /* Add some margin between form groups */
  }
  
  /* Button Styles */
  button {
    background-color: #0eaa80; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049; /* Verde más oscuro */
  }
  
  /* Error Message Styles (assuming SweetAlert2) */
  .swal2-container {
    font-family: sans-serif;
  }
  
  .swal2-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .swal2-text {
    font-size: 14px;
    line-height: 1.6;
  }
  
  .swal2-validation-message {
    color: #dc3545; /* Rojo */
    font-size: 12px;
    margin-top: 5px;
  }
  