/* Assuming your About.css file is next to About.js */

.about-container {
    display: flex;
    padding: 20px;
    max-width: 100%;
    margin: 5%;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .about-image-container {
    flex: 1; /* Take up half the width */
    margin-right: 20px; /* Add spacing between image and content */
  }
  
  .about-image {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
  }
  
  .about-content {
    flex: 1; /* Take up the other half of the width */
  }
  
  .about-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    text-align: center;
  }
  
  .about-title {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-subtitle {
    font-size: 1.2em;
    color: #666;
  }
  