
  h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 32px; /* Increased font size */
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 50%;  /* Maintains original width */
    margin: 0 auto;
    padding: 20px;

    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px; /* Increased font size */
  }
  
  input,
  textarea {
    width: 100%;
    padding: 12px; /* Increased padding */
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px; /* Increased font size */
  }
  
  select {
    width: 100%;
    padding: 12px; /* Increased padding */
    border: 1px solid #ccc;
    border-radius: 3px;
   
    background-repeat: no-repeat;
    background-position: right 10px;
    background-size: 16px 16px;
    padding-right: 30px; /* Increased padding for select */
  
  }

  .form-row {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to multiple rows if needed */
    justify-content: space-between; /* Distribute space evenly between columns */
  }
  
  .form-group {
    flex-basis: 48%; /* Set the width of each column to 48% */
    margin-bottom: 1rem; /* Add some margin between form groups */
  }
  
  /* Estilos para botones */
button {
    background-color: #0eaa80; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049; /* Verde más oscuro */
  }
  
  /* Estilos para mensajes de error */
  .swal2-container {
    font-family: sans-serif;
  }
  
  .swal2-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .swal2-text {
    font-size: 14px;
    line-height: 1.6;
  }
  
  .swal2-validation-message {
    color: #dc3545; /* Rojo */
    font-size: 12px;
    margin-top: 5px;
  }
  

  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px; /* Add some margin for spacing */
  }
  
  .form-column {
    flex: 1 0 50%; /* Divide the row into two equal columns */
    padding: 5px; /* Add some padding for spacing */
  }

