.footer {
    background-color: #f2f2f2; /* Light gray background */
    padding: 2rem 0; /* Top and bottom padding */
    text-align: center; /* Center the content horizontally */
    margin-top: 9%;
  }
  
  .container {
    max-width: 1024px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .copyright {
    margin-top: 1rem; /* Add some margin above the copyright text */
    font-size: 0.8rem; /* Adjust font size as needed */
    color: #333; /* Dark gray text color */
  }
  