.home-container {
    background-image: url('/public/ferreteria.jpeg'); /* Replace with your image path */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Ensure full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 30, 255);
  
  }
  
  .home-title {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .home-description {
    font-size: 1.2em;
    line-height: 1.5;
  }
  .highlight {
    color: rgb(82, 247, 0); /* Red color for highlights */
    font-weight: bold; /* Bold font for emphasis */
  }
  
  /* Media queries for responsive adjustments (optional) */
  @media (max-width: 768px) {
    .home-title {
      font-size: 2em;
    }
  
    .home-description {
      font-size: 1em;
    }
  }
  