/* Navbar.css */
/* Agrega estos estilos dentro de tu archivo About.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}
.titulo {
  font-size: 2.5rem; /* Tamaño grande para el título */
}

.card1 p {
  font-size: 1rem; /* Tamaño normal para el texto dentro de las tarjetas */
}
.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h4 {
  margin-right: 15px;
}

.logo img {
  height: 30px;
  margin-top: -10px;
  margin-left: -8px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

/* Remove text decoration for the NavLink */
.navbar a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease-in-out;
}

/* Apply border-bottom directly to the NavLink when it is active */
.navbar a.active {
  border-bottom: 2px solid #fff;
}

/* Optional: Add hover effect for the NavLink */
.navbar a:hover {
  border-bottom: none;
}

.link {
  margin-right: 20px;
}

.li {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  font-size: large;
  transition: all 0.3s ease;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .logo {
    margin-bottom: 10px;
  }
  
  ul {
    flex-direction: column;
  }
  
  .link {
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .li {
    font-size: medium;
  }
}

.boton {
  color: #000;
  margin-left: 90px; 
}

.avatar {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #333; 
  /* display: flex; */
  align-items: center;
  margin-left: 20px; /* Ajustar el margen izquierdo para separar los botones */
}


/* Estilo específico para el icono en los botones */
.avatar i {
  margin-right: 5px;
}

/* Estilo para el avatar en el botón */
.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}