/* ReadProducts.css */

/* Container */

.container {
  width: 90%; /* Adjust width as needed */
  margin: 0 auto; /* Center the container horizontally */
  padding: 40px 20px; /* Add some top and side padding */
}

/* Product Grid */

.product-grid {
  display: grid; /* Use grid layout for more flexibility */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust columns as needed */
  gap: 20px; /* Adjust spacing between products */
}

/* Product Card */

.product-card {
  background-color: #fff; /* Light background for cards */
  border-radius: 10px; /* Rounded corners for a softer look */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all 0.3s ease-in-out; /* Smooth hover effect */
  overflow: hidden; /* Prevent text overflowing the card */
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
  transform: translateY(-3px); /* Slight vertical movement on hover */
}

/* Product Image */

.product-image {
  width: 100%;
  height: 250px; /* Adjust image height as needed */
  object-fit: cover; /* Ensure image fills the container */
  border-top-left-radius: 10px; /* Rounded top-left corner */
  border-top-right-radius: 10px; /* Rounded top-right corner */
}

/* Product Info */

.product-info {
  padding: 20px;
}

.product-name {
  font-size: 1.2em; /* Slightly larger font size for title */
  font-weight: bold;
  margin-bottom: 10px;
  color: #333; /* Gray text for readability */
}

.product-price,
.product-category,
.product-discount,
.product-description {
  margin-bottom: 5px;
  color: #666; /* Lighter gray for details */
  font-size: 0.9em; /* Slightly smaller font for details */
}

/* Product Actions */

.product-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.product-actions a,
.product-actions button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.product-actions a {
background-color: #076cd8;
  color:white; /* Blue link color */
  text-decoration: none;
}

.product-actions a:hover {
  background-color: #035ebe; /* Darker blue on hover */
}

.product-actions button {
  background-color: #e31212; /* Green button color */
  color: #fff;
}

.product-actions button:hover {
  background-color: hsl(357, 91%, 44%); /* Darker green on hover */
}

/* No Products Message */

.no-products {
  text-align: center;
  font-style: italic;
  margin-top: 40px;
}
.no-access {
  /* General styles for the message */
  font-size: 18px;
  color: #333;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5; /* Light gray background */
}

/* Responsiveness (Optional) */

@media only screen and (max-width: 768px) {
  /* Adjust layout for smaller screens */
  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
