/* Title Styles */
h1 {
    margin-top: 30px;
    text-align: center;
    font-size: 32px; /* Increased font size */
    margin-bottom: 30px;
  }
  
  /* Form Styles */
  form {
    display: flex;
    flex-direction: column;
    width: 50%;  /* Maintains original width */
    margin: 0 auto;
    padding: 20px;
  
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Label Styles */
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px; /* Increased font size */
  }
  
  /* Input and Textarea Styles */
  input,
  textarea {
    width: 100%;
    padding: 12px; /* Increased padding */
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px; /* Increased font size */
  }
  
  /* Select Styles */
  select {
    width: 100%;
    padding: 12px; /* Increased padding */
    border: 1px solid #ccc;
    border-radius: 3px;

    background-repeat: no-repeat;
    background-position: right 10px;
    background-size: 16px 16px;
    padding-right: 30px; /* Increased padding for select */
  }
  
  /* Button Styles */
  button {
    background-color: #0eaa80; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease
  }  